.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  text-transform: capitalize;
}

.search-box {
  width: 200px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
}
