.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.counter-containter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.counter-containter h2 {
  font-size: 25px;
}
